.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 100px;
    .select_time {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border: 2px solid $blue;
        border-radius: 5px;
        &-variant {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          cursor: pointer;
          height: 60px;
          font-size: 20px;
          font-weight: bold;
          color: $blue;
        }
      }
    &-return {
      font-size: 40px;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px;
      gap: 20px;
      &__prev{
        background-color: transparent;
        border: none;
        font-size: 42px;
        cursor: pointer;
        transition: color 0.3s;
        color: $blue;
      }
    }
    &-total{
      margin: 20px 0px;
      color: $grey1;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
    }
    &-list{
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin: 40px 0px;
      width: 100%;
      flex-wrap: wrap;
      &-item {
        padding: 60px 30px;
        width: 340px;
        height: 270px;
        background-color: $white2;
        border-radius: 15px;
        &-time {
          font-size: 32px;
          font-weight: bold;
          text-align: center;
          margin: 20px;
        }
        .pool {color: $blue;}
        .cardio {color: $yellow;}
        .run {color: $green;}
        .power {color: $pink;}
        .bike {color: $purple2;}
        .game {color: $dark-blue;}
        .dance {color: $purple1;}
        .other {color: $grey4;}
        &-average {
          font-size: 16px;
          color: $grey1;
          text-align: center;
        }
      }
    }
    &-submit_btn {
      padding-bottom: 20px;
      display: flex;
    }
    &-input {
      background: $white2;
      width: 1280px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      padding: 50px;
      border-radius: 15px;
      &-title{
        font-size: 24px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        font-weight: bold;
        align-items: center;
        gap: 10px;
        &-number{
          width: 48px;
          height: 48px;
          border-radius: 24px;
          color: $white2;
          background: $blue-20p;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &-content {
        margin-left: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
      
        &-description {
          border-radius: 10px;
          border: 2px solid $grey1;
          width: 810px;
        }
      
        &-image {
          background: $grey3;
          width: 210px;
          height: 210px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
      
          & label {
            color: $grey2;
            cursor: pointer;
            z-index: 1;
          }
      
          & input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      
        &-verification {
          background: $grey3;
          width: 400px;
          height: 210px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
      
          & label {
            color: $grey2;
            cursor: pointer;
            z-index: 1;
          }
      
          & input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-name {
            font-size: 16px;
            color: $grey4;
          }
          &-field {
            width: 200px;
            height: 40px;
            border-radius: 20px;
            border: 2px solid $blue;
            color: $blue;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
}


.activity-input-content-item-field[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}


.activity-input-content-item-field[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* другие браузеры */
}

.activity-input-content-item-field[type="number"]::-webkit-inner-spin-button,
.activity-input-content-item-field[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}