.challenges{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    padding: 0px 100px;   
}

.select_pt {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .select_pt-variant {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .current-challenges {
    margin-bottom: 20px;
    width: 100%;
  }

  .completed-challenges {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .completed-challenges table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .completed-challenges th,
  .completed-challenges td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .completed-challenges tr:hover {
    background-color: #f5f5f5;
  }
  
  .challenge-item {
    margin-bottom: 20px;
    background-color: $white2;
    width: 100%;
    padding: 50px;
    border-radius: 15px;
    &-text {
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-bottom: 20px;
      align-items: center;
      &-points {
        height: 28px;
        border-radius: 14px;
        background-color: $blue-20p;
        color: $blue;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 10px;
      }
      &-name {
        font-size: 32px;
      }
    }
  }
  
  .progress-bar {
    width: 100%;
    background-color: $white2;
    border: 2px solid $blue;
    border-radius: 24px;
    height: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 8px;

  }
  
  .progress {
    height: 32px;
    background-color: $blue;
    border-radius: 16px;
  }
  

.metrics {
  font-size: 24px;
  margin-bottom: 10px;
}