.mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
  
  &__title {
    font-size: 15px;
    flex-grow: 1;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 3px;
    color: $white2;
  }
  &__line {
    width: 100%;
    height: 2px;
    background: $white2;
    margin-bottom: 20px;
  }

  &__goal-bar {
    width: 100%;
    background-color: $white2;
    border-radius: 18px;
    height: 36px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 4px;
  }

  &__goal {
    height: 28px;
    background-color: $blue;
    border-radius: 14px;
  }

  &__goal-status{
    width: 100%;
  }

  &__goal-text {
    font-size: 18px;
    color: $white2;
    margin-bottom: 20px;
  }
}

.mobile-goal-info {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  &__metrics {
    height: 48px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: $white2;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}