.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0px 100px;
    .post {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      &__header {
        display: flex;
        align-items:start;
        margin-bottom: 20px;
      }
    
      &__mini-avatar {
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
    
      &__user-info {
        display: flex;
        flex-direction: column;
      }
    
      &__username {
        font-weight: bold;
        font-size: 32px;
        margin-right: 10px;
      }
    
      &__timestamp {
        font-size: 24px;
        color: $grey1;
      }
    
      &__svg-fire-container {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    
      &__fire-count {
        font-size: 24px;
        font-weight: bold;
        background-image: $gradient;
        margin-right: 10px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    
      &__content {
        display: flex;
        margin-bottom: 10px;
        background: $white2;
        height: 465px;
        border-radius: 10px;
      }
    
      &__image-container {
        width: 720px;
        margin-right: 20px;
      }
    
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    
      &__info {
        width: 70%;
        padding: 40px;
      }
    
      &__points {
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        &__point {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          color: $grey1;
          font-size: 16px;
        }
      }

      &__title {
        display: flex;
      }
      &__line {
        width: 100%;
        height: 1px;
        background-color: $grey1;

      }
    
      &__time {
        border: 2px solid $blue;
        font-size: 24px;
        color: $blue;
        border-radius: 20px;
        height: 40px;
        padding: 0px 20px;
      }
    
      &__calories {
        padding: 0px 20px;
        font-size: 24px;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 20px;
        height: 40px;
      }
    
      &__text {
        margin: 20px 0px;
        font-size: 20px;
      }

      &__metric {
        font-size: 24px;
        border-radius: 20px;
        height: 40px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &.pool-metric {
          color: $blue;
          border: 2px solid $blue;
        }
        
        &.cardio-metric {
          color: $yellow;
          border: 2px solid $yellow;
        }
        
        &.run-metric {
          color: $green;
          border: 2px solid $green;
        }
        
        &.power-metric {
          color: $pink;
          border: 2px solid $pink;
        }
        
        &.bike-metric {
          color: $purple2;
          border: 2px solid $purple2;
        }
        
        &.game-metric {
          color: $dark-blue;
          border: 2px solid $dark-blue;
        }
        
        &.dance-metric {
          color: $purple1;
          border: 2px solid $purple1;
        }
        
        &.other-metric {
          color: $grey4;
          border: 2px solid $grey4;
        }
      }
    
      &__actions {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    
      &__like-container {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
    
      &__like-count {
        font-size: 24px;
        font-weight: bold;
        background-image: $gradient;
        margin-right: 15px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &__comment-container {
        display: flex;
        flex-direction: row;
      }
      &__comment-count {
        font-size: 24px;
        font-weight: bold;
        background-image: $gradient;
        margin-top: 15px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &__comment-containerinput {
        width: 100%;
      }
    
      &__comment-input {
        width: 100%;
        padding: 20px 70px 20px 30px;
        border: 1px solid #ccc;
        overflow-y: hidden;
        border-radius: 15px;
        margin-top: 5px;
        font-size: 18px;
        height: 70px;
        resize: none;
        &::-webkit-resize {
          display: none;
        }
        &-btn{
          position: relative;
          top: -75px;
          left: 95%;
        }
      }
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background-color: $grey1;
        margin-top: 20px;
      }
    }
  }


