.ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 0px 100px;

  &-select_pt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 2px solid $blue;
    border-radius: 5px;
    &-variant {
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      cursor: pointer;
      height: 60px;
      font-size: 20px;
      font-weight: bold;
      color: $blue;
    }
  }
  &-participants-list{
    width: 100%;
  }
  &-participants-list table {
    width: 100%;
    border-collapse: collapse;
    margin:40px 0px;
    box-sizing: border-box;
    font-size: 20px;
  }
  &-participants-list th{
    background-color: $blue-20p;
    color: $blue;
    padding: 10px;
    text-align: left;
  }

  &-participants-list td {
    padding: 10px;
    border-bottom: 1px solid $grey1;
  }

  &-participants-list tr:hover{
    background-color: $white2;
  }

  &-participants-list th {
    background-color: $blue-20p;
    padding: 10px;
    text-align: left;
    color: $blue;
  }

  &-participants-list td:first-child {
    color: $blue-20p;
  }

  &-participants-list td:nth-child(3) { 
    color: $grey4;
  }

  &-participants-list td:nth-child(4){
    font-weight: bold;
    color: $gradient;
    background-image: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20%;
  }

  &-teams-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin: 40px 0px;
    &-team-item {
      width: 100%;
      background-color: $white2;
      border-radius: 5px;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      text-align: center;
  
      &-team-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &-team-num {
        font-size: 72px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      &-team-members {
        font-size: 20px;
        color:$grey1;
        margin-bottom: 10px;
      }
      &-team-progress {
        font-weight: bold;
        font-size: 20px;
        color: $gradient;
        background-image: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
      }
    }
  }
}

  

