@import "./variables";
a{
  text-decoration: none;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color:$white2;
  cursor: pointer;
  padding: 15px 15px;
  &-delete {
    background-color: $red;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    margin: 20px 0px;
  }
  &-exit {
    border: 2px solid $red;
    background: transparent;
    color: $red;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    margin: 20px 0px;
  }
  &-enter {
    margin: 0 auto;
    background-color: $blue;
    width: 510px;
    height: 60px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
    transition: opacity 0.5s ease;
    z-index: 1;
    &_text{
      font-size: 20px;
      font-weight: bold;
      position: relative;
      z-index: 2;
    }
    &:hover {
      background: $gradient;
    }
    
  }
  &-profile {
    background-color: $blue;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
    transition: opacity 0.5s ease;
    z-index: 1;
    &_text{
      font-size: 20px;
      font-weight: bold;
      position: relative;
      z-index: 2;
    }
    &:hover {
      background: $gradient;
    }
  }
  &-reg{
    background-color: rgba(255, 255, 255, 0);
    color: $grey1;
    width: 400px;
    padding: 0px;
  }
  &_text{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 133%;
    text-align: center;
    align-self: center;
  }
}

.cbutton-profile {
  height: 42px;
  width: auto;
  border-radius: 21px;
  background: transparent;
  color: $white;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 10px;
  gap: 10px;
  top: 30px; 
  right: 100px;
  &_text{
    font-weight: bold;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .button {
    &-enter{
      width: 300px;
    }
  }
}


@media (max-width: 320px) {
  .button {
    &-enter{
      width: 250px;
    }
  }
}