@use './variables' as vars;

.activity-btn {
  text-align: center;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 40px;
  border-radius: 24px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    &.pool-light { @extend .pool-normal; }
    &.cardio-light { @extend .cardio-normal; }
    &.run-light { @extend .run-normal; }
    &.power-light { @extend .power-normal; }
    &.bike-light { @extend .bike-normal; }
    &.yoga-light { @extend .yoga-normal; }
    &.walk-light { @extend .walk-normal; }
    &.game-light { @extend .game-normal; }
    &.dance-light { @extend .dance-normal; }
    &.other-light { @extend .other-normal; }
  }
}

.activity-btn-mobile {
  text-align: center;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 32px;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    &.pool-light { @extend .pool-normal; }
    &.cardio-light { @extend .cardio-normal; }
    &.run-light { @extend .run-normal; }
    &.power-light { @extend .power-normal; }
    &.bike-light { @extend .bike-normal; }
    &.yoga-light { @extend .yoga-normal; }
    &.walk-light { @extend .walk-normal; }
    &.game-light { @extend .game-normal; }
    &.dance-light { @extend .dance-normal; }
    &.other-light { @extend .other-normal; }
  }
}
  // light
  .pool-light {
    color: vars.$blue;
    border: 1px solid vars.$blue;
  }
  .cardio-light {
    color: vars.$yellow;
    border: 1px solid vars.$yellow;
  }
  .run-light {
    color: vars.$green;
    border: 1px solid vars.$green;
  }
  .power-light {
    color: vars.$pink;
    border: 1px solid vars.$pink;
  }
  .bike-light {
    color: vars.$purple2;
    border: 1px solid vars.$purple2;
  }
  .yoga-light {
    color: vars.$turquoise;
    border: 1px solid vars.$turquoise;
  }
  .walk-light {
    color: vars.$orange;
    border: 1px solid vars.$orange;
  }
  .game-light {
    color: vars.$dark-blue;
    border: 1px solid vars.$dark-blue;
  }
  .dance-light {
    color: vars.$purple1;
    border: 1px solid vars.$purple1;
  }
  .other-light {
    color: vars.$grey1;
    border: 1px solid vars.$grey1;
  }

  // normal
  .pool-normal {
    color: vars.$blue;
    background: vars.$blue-20p;
    border: 1px solid vars.$blue;
  }
  .cardio-normal {
    color: vars.$yellow;
    background: vars.$yellow-20p;
    border: 1px solid vars.$yellow;
  }
  .run-normal {
    color: vars.$green;
    background: vars.$green-20p;
    border: 1px solid vars.$green;
  }
  .power-normal {
    color: vars.$pink;
    background: vars.$pink-20p;
    border: 1px solid vars.$pink;
  }
  .bike-normal {
    color: vars.$purple2;
    background: vars.$purple2-20p;
    border: 1px solid vars.$purple2;
  }
  .yoga-normal {
    color: vars.$turquoise;
    background: vars.$turquoise-20p;
    border: 1px solid vars.$turquoise;
  }
  .walk-normal {
    color: vars.$orange;
    background: vars.$orange-20p;
    border: 1px solid vars.$orange;
  }
  .game-normal {
    color: vars.$dark-blue;
    background: vars.$dark-blue-20p;
    border: 1px solid vars.$dark-blue;
  }
  .dance-normal {
    color: vars.$purple1;
    background: vars.$purple1-20p;
    border: 1px solid vars.$purple1;
  }
  .other-normal {
    color: vars.$grey4;
    background: vars.$grey4-20p;
    border: 1px solid vars.$grey4;
  }

  // bold
  .pool-bold {
    color: vars.$blue;
    background: vars.$blue-20p;
    font-weight: bold;
    border: 2px solid vars.$blue;
  }
  .cardio-bold {
    color: vars.$yellow;
    background: vars.$yellow-20p;
    font-weight: bold;
    border: 2px solid vars.$yellow;
  }
  .run-bold {
    color: vars.$green;
    background: vars.$green-20p;
    font-weight: bold;
    border: 2px solid vars.$green;
  }
  .power-bold {
    color: vars.$pink;
    background: vars.$pink-20p;
    font-weight: bold;
    border: 2px solid vars.$pink;
  }
  .bike-bold {
    color: vars.$purple2;
    background: vars.$purple2-20p;
    font-weight: bold;
    border: 2px solid vars.$purple2;
  }
  .yoga-bold {
    color: vars.$turquoise;
    background: vars.$turquoise-20p;
    font-weight: bold;
    border: 2px solid vars.$turquoise;
  }
  .walk-bold {
    color: vars.$orange;
    background: vars.$orange-20p;
    font-weight: bold;
    border: 2px solid vars.$orange;
  }
  .game-bold {
    color: vars.$dark-blue;
    background: vars.$dark-blue-20p;
    font-weight: bold;
    border: 2px solid vars.$dark-blue;
  }
  .dance-bold {
    color: vars.$purple1;
    background: vars.$purple1-20p;
    font-weight: bold;
    border: 2px solid vars.$purple1;
  }
  .other-bold {
    color: vars.$grey4;
    background: vars.$grey4-20p;
    font-weight: bold;
    border: 2px solid vars.$grey4;
  }

  // &:hover {
  //   &.pool-light { @extend .pool-normal; }
  //   &.cardio-light { @extend .cardio-normal; }
  //   &.run-light { @extend .run-normal; }
  //   &.power-light { @extend .power-normal; }
  //   &.bike-light { @extend .bike-normal; }
  //   &.game-light { @extend .game-normal; }
  //   &.dance-light { @extend .dance-normal; }
  //   &.other-light { @extend .other-normal; }
  // }
// }
