.activity-tags {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 40px;
  border-radius: 24px;
  font-size: 20px;
}
// size S
.pool-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $blue;
  background: $blue-20p;
  font-weight: bold;
}

.cardio-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $yellow;
  background: $yellow-20p;
  font-weight: bold;
}

.run-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $green;
  background: $green-20p;
  font-weight: bold;
}

.power-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $pink;
  background: $pink-20p;
  font-weight: bold;
}

.bike-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $purple2;
  background: $purple2-20p;
  font-weight: bold;
}

.game-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $dark-blue;
  background: $dark-blue-20p;
  font-weight: bold;
}

.dance-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $purple1;
  background: $purple1-20p;
  font-weight: bold;
}

.other-S {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 112px;
  height: 26px;
  color: $grey4;
  background: $grey4-20p;
  font-weight: bold;
}


// size M
.pool-M {
  color: $blue;
  background: $blue-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}

.cardio-M {
  color: $yellow;
  background: $yellow-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}

.run-M {
  color: $green;
  background: $green-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}
.power-M {
  color: $pink;
  background: $pink-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}
.bike-M {
  color: $purple2;
  background: $purple2-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}
.game-M {
  color: $dark-blue;
  background: $dark-blue-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}
.dance-M {
  color: $purple1;
  background: $purple1-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}
.other-M {
  color: $grey4;
  background: $grey4-20p;
  width: 276px;
  height: 44px;
  font-weight: bold;
}

// size L
.pool-L {
  color: $blue;
  background: $blue-20p;
  font-weight: bold;
  height: 50px;
}

.cardio-L {
  color: $yellow;
  background: $yellow-20p;
  font-weight: bold;
  height: 50px;
}

.run-L {
  color: $green;
  background: $green-20p;
  font-weight: bold;
  height: 50px;
}
.power-L {
  color: $pink;
  background: $pink-20p;
  font-weight: bold;
  height: 50px;
}
.bike-L {
  color: $purple2;
  background: $purple2-20p;
  font-weight: bold;
  height: 50px;
}
.game-L {
  color: $dark-blue;
  background: $dark-blue-20p;
  font-weight: bold;
  height: 50px;
}
.dance-L {
  color: $purple1;
  background: $purple1-20p;
  font-weight: bold;
  height: 50px;
}
.other-L {
  color: $grey4;
  background: $grey4-20p;
  font-weight: bold;
  height: 50px;
}