.activity-btn {
  text-align: center;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 40px;
  border-radius: 24px;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    &.pool-light { @extend .pool-normal; }
    &.cardio-light { @extend .cardio-normal; }
    &.run-light { @extend .run-normal; }
    &.power-light { @extend .power-normal; }
    &.bike-light { @extend .bike-normal; }
    &.game-light { @extend .game-normal; }
    &.dance-light { @extend .dance-normal; }
    &.other-light { @extend .other-normal; }
  }
}
  // light
  .pool-light {
    color: $blue;
    border: 1px solid $blue;
  }

  .cardio-light {
    color: $yellow;
    border: 1px solid $yellow;
  }

  .run-light {
    color: $green;
    border: 1px solid $green;
  }
  .power-light {
    color: $pink;
    border: 1px solid $pink; 
  }
  .bike-light {
    color: $turquoise;
    border: 1px solid $turquoise;
  }
  .game-light {
    color: $dark-blue;
    border: 1px solid $dark-blue;
  }
  .dance-light {
    color: $purple2;
    border: 1px solid $purple2;
  }
  .other-light {
    color: $grey1;
    border: 1px solid $grey1;
  }

  // normal
  .pool-normal {
    color: $blue;
    background: $blue-20p;
    border: 1px solid $blue;
  }

  .cardio-normal {
    color: $yellow;
    background: $yellow-20p;
    border: 1px solid $yellow;
  }

  .run-normal {
    color: $green;
    background: $green-20p;
    border: 1px solid $green;
  }
  .power-normal {
    color: $pink;
    background: $pink-20p;
    border: 1px solid $pink; 
  }
  .bike-normal {
    color: $turquoise;
    background: $turquoise-20p;
    border: 1px solid $turquoise;
  }
  .game-normal {
    color: $dark-blue;
    background: $dark-blue-20p;
    border: 1px solid $dark-blue;
  }
  .dance-normal {
    color: $purple1;
    background: $purple1-20p;
    border: 1px solid $purple1;
  }
  .other-normal {
    color: $grey4;
    background: $grey4-20p;
    border: 1px solid $grey4;
  }

  // bold
  .pool-bold {
    color: $blue;
    background: $blue-20p;
    font-weight: bold;
    border: 2px solid $blue;
  }

  .cardio-bold {
    color: $yellow;
    background: $yellow-20p;
    font-weight: bold;
    border: 2px solid $yellow;
  }

  .run-bold {
    color: $green;
    background: $green-20p;
    font-weight: bold;
    border: 2px solid $green;
  }
  .power-bold {
    color: $pink;
    background: $pink-20p;
    font-weight: bold;
    border: 2px solid $pink;
  }
  .bike-bold {
    color: $turquoise;
    background: $turquoise-20p;
    font-weight: bold;
    border: 2px solid $turquoise;
  }
  .game-bold {
    color: $dark-blue;
    background: $dark-blue-20p;
    font-weight: bold;
    border: 2px solid $dark-blue;
  }
  .dance-bold {
    color: $purple1;
    background: $purple1-20p;
    font-weight: bold;
    border: 2px solid $purple1;
  }
  .other-bold {
    color: $grey4;
    background: $grey4-20p;
    font-weight: bold;
    border: 2px solid $grey4;
  }

  // &:hover {
  //   &.pool-light { @extend .pool-normal; }
  //   &.cardio-light { @extend .cardio-normal; }
  //   &.run-light { @extend .run-normal; }
  //   &.power-light { @extend .power-normal; }
  //   &.bike-light { @extend .bike-normal; }
  //   &.game-light { @extend .game-normal; }
  //   &.dance-light { @extend .dance-normal; }
  //   &.other-light { @extend .other-normal; }
  // }
// }