@use './variables' as vars;

.activity-tags {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 40px;
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
}
// size S
.pool-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$blue;
  background: vars.$blue-20p;
}
.cardio-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$yellow;
  background: vars.$yellow-20p;
}
.run-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$green;
  background: vars.$green-20p;
}
.power-S {
  right: 50%;
  top: 0;
  font-size: 10px;
  padding: 0 24px;
  height: 26px;
  color: vars.$pink;
  background: vars.$pink-20p;
}
.bike-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$purple2;
  background: vars.$purple2-20p;
}
.yoga-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$turquoise;
  background: vars.$turquoise-20p;
}
.walk-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$orange;
  background: vars.$orange-20p;
}
.game-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$dark-blue;
  background: vars.$dark-blue-20p;
}
.dance-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 24px;
  height: 26px;
  color: vars.$purple1;
  background: vars.$purple1-20p;
}
.other-S {
  right: 50%;
  top: 0;
  font-size: 12px;
  padding: 0 20px;
  height: 26px;
  color: vars.$grey4;
  background: vars.$grey4-20p;
}


// size M
.pool-M {
  color: vars.$blue;
  background: vars.$blue-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.cardio-M {
  color: vars.$yellow;
  background: vars.$yellow-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.run-M {
  color: vars.$green;
  background: vars.$green-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.power-M {
  color: vars.$pink;
  background: vars.$pink-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.bike-M {
  color: vars.$purple2;
  background: vars.$purple2-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.yoga-M {
  color: vars.$turquoise;
  background: vars.$turquoise-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.walk-M {
  color: vars.$orange;
  background: vars.$orange-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.game-M {
  color: vars.$dark-blue;
  background: vars.$dark-blue-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.dance-M {
  color: vars.$purple1;
  background: vars.$purple1-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}
.other-M {
  color: vars.$grey4;
  background: vars.$grey4-20p;
  width: 276px;
  height: 44px;
  font-size: 16px;
}

// size L
.pool-L {
  color: vars.$blue;
  background: vars.$blue-20p;
  padding: 11px 48px;
}
.cardio-L {
  color: vars.$yellow;
  background: vars.$yellow-20p;
  padding: 11px 48px;
}
.run-L {
  color: vars.$green;
  background: vars.$green-20p;
  padding: 11px 48px;
}
.power-L {
  color: vars.$pink;
  background: vars.$pink-20p;
  padding: 11px 48px;
}
.bike-L {
  color: vars.$purple2;
  background: vars.$purple2-20p;
  padding: 11px 48px;
}
.yoga-L {
  color: vars.$turquoise;
  background: vars.$turquoise-20p;
  padding: 11px 48px;
}
.walk-L {
  color: vars.$orange;
  background: vars.$orange-20p;
  padding: 11px 48px;
}
.game-L {
  color: vars.$dark-blue;
  background: vars.$dark-blue-20p;
  padding: 11px 48px;
}
.dance-L {
  color: vars.$purple1;
  background: vars.$purple1-20p;
  padding: 11px 48px;
}
.other-L {
  color: vars.$grey4;
  background: vars.$grey4-20p;
  padding: 11px 48px;
}
