.goal-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background: $grey1;
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between; 
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
        font-size: 64px;
        font-weight: bold;
        color: $white2;
        text-align: center; 
      }
  
      button {
        background-color: transparent;
        border: none;
        font-size: 72px;
        cursor: pointer;
        transition: color 0.3s;
        color: $white2;
      }
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  
      p {
        margin: 0;
        font-size: 24px;
        text-align: center;
        max-width: 500px;
      }
  
    }
  }

.mobile-goal-block {
  min-height: 100vh;
  background: $white;
}

.mobile-goal-block__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  border-radius: 0 0 20px 20px;
  background: $gradient;
  color: $white2;
  padding: 10px 20px 40px 20px;
}

.mobile-goal-block__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 650px;
  position: relative;
  padding: 20px 30px;
  font-size: 20px;
}

.mobile-goal-block__title {
  font-size: 36px;
  font-weight: bolder;
}

.mobile-goal-block__subtitle{
  color: rgba(255, 255, 255, 0.5);
  align-self: center;
}

.mobile-goal__image {
  height: auto;
  z-index: 0;
}

.mobile-goal-block__arrow {
  display: flex;
  justify-content: space-between;
}

.mobile-goal-block__arrow-prev,
.mobile-goal-block__arrow-next {
  background-color: transparent;
  border: none;
  font-size: 72px;
  cursor: pointer;
  transition: color 0.3s;
  color: $blue;
  z-index: 100;
}

.mobile-goal-block__indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: solid $blue;
  margin-right: 5px;
  cursor:pointer;
  transition:.3s;
}

.indicator.active {
  background-color:$blue;
}

.task-list__item{
  display: flex;
  gap: 10px;
}
