.profile-block {
    margin-left: 400px;
    margin-right: 100px;
    margin-top: -100px;
    margin-bottom: 40px;
    &__activity-list {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: 100%;
      flex-wrap: wrap;
      &-item{
        width: 300px;
        border-radius: 15px;
        &.pool-metric {
          width: 290px;
          color: $blue;
          border: 2px solid $blue;
        }

        &.cardio-metric {
          width: 290px;
          color: $yellow;
          border: 2px solid $yellow;
        }

        &.run-metric {
          width: 290px;
          color: $green;
          border: 2px solid $green;
        }

        &.power-metric {
          width: 290px;
          color: $pink;
          border: 2px solid $pink;
        }

        &.bike-metric {
          width: 290px;
          color: $purple2;
          border: 2px solid $purple2;
        }

        &.yoga-metric {
          width: 290px;
          color: $turquoise;
          border: 2px solid $turquoise;
        }

        &.walk-metric {
          width: 290px;
          color: $orange;
          border: 2px solid $orange;
        }

        &.game-metric {
          width: 290px;
          color: $dark-blue;
          border: 2px solid $dark-blue;
        }

        &.dance-metric {
          width: 290px;
          color: $purple1;
          border: 2px solid $purple1;
        }

        &.other-metric {
          width: 290px;
          color: $grey4;
          border: 2px solid $grey4;
        }
        &-time {
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          margin: 20px;
        }
        .pool {color: $blue;}
        .cardio {color: $yellow;}
        .run {color: $green;}
        .power {color: $pink;}
        .bike {color: $purple2;}
        .yoga {color: $turquoise;}
        .walk {color: $orange;}
        .game {color: $dark-blue;}
        .dance {color: $purple1;}
        .other {color: $grey4;}
      }
    }
    &-avatar {
      position:absolute;
      top: 205px;
      left: 80px;
      width: 270px;
      height: 270px;
      border-radius: 135px;
      border: 10px solid $white2;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    &-name {
      font-size: 40px;
      color: $white2;
      font-weight: bold;
      margin-top: 10px;
    }
    &-content{
      margin-top: 100px;
      &-comands {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        &-list {

          height: 50px;

        }
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &-text {
            font-size: 16px;
            color: $grey1;
            margin-bottom: 5px;
          }
        }
        &-items {
          position: relative;
          background: $white2;
          padding: 16px;
          border-radius: 10px;
          width: 49%;
          height: 350px;
          &-rect {
            height: 80px;
            background: $purple2;
            border-radius: 5px;
            margin-bottom: 100px;
          }
          &-circle {
            position: absolute;
            top: 46px;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 100px;
            height: 100px;
            border-radius: 50px;
            background: $purple2;
            border: 5px solid $white2;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &-position{
          font-size: 20px;
          color: $blue;
          text-align: center;
          margin-top: 0px;
        }
      }
      &-data {
        padding: 30px 50px;
        background: $white2;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        &-title {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 10px;
          &-name {
            color: black;
            font-size: 32px;
            font-weight: bold;
          }
          &-pen {
            background-color: transparent;
            border: none;
          }
        }
        &-profile {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          justify-content: space-between;

          margin-top: 30px;
          margin-right: 30px;
          &-column {
            display: flex;
            flex-direction: column;
            &-i {
              margin: 0px 30px;
            }
          }
        }
        &-btn {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 20px;
          &-save {
            font-size: 24px;
            font-weight: bold;
            width: 240px;
            height: 48px;
            border-radius: 24px;
            color: $white2;
            background-color: $blue;
            border: none;
          }
          &-cancel {
            font-size: 24px;
            font-weight: bold;
            width: 240px;
            height: 48px;
            border-radius: 24px;
            color: $grey1;
            border: 2px solid $grey1;
            background-color: transparent;
          }
        }
      }
    }
    &-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 20px;
    }
  }


  .custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    height: 38px;
    font-size: 16px;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}



@media (max-width: 820px) {
  .profile-block__activity-list-item-time {
    font-size: 16px;
    margin: 10px;
  }
  .profile-block {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 200px !important;

    &-name {
      display: flex;
      width: 100%;
      color: $black;
      justify-content: center;
      font-size: 24px;
    }

    &-avatar {
      position:relative;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      margin: 0 auto;
      margin-top: -300px;
      top: 0;
      left: 0;
      width: 270px;
      height: 270px;
      border-radius: 135px;
      border: 10px solid $white2;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    &-content {
      margin-top: 50px !important;
      width: 100%;
      &-comands {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &-items{
          width: 100% !important;
          flex-direction: column;
          height: 175px !important;
          &-circle {
            display: none;
          }
          &-rect {
            height: 20px;
            margin-bottom: 0px;
          }
        }
        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          box-sizing: border-box;
        }
      }
      &-data{
        display: flex;
        width: auto !important;
        flex-direction: column !important;
        &-items {
          flex-direction: column !important;
          padding: 0px !important;
          gap: 5px !important;
        }
        &-item {
          &-text {
            font-size: 12px !important;
            margin-bottom: 2px !important;
          }
          &-value {
            font-size: 16px !important;
          }
          &-oval-input {
            font-size: 16px !important;
          }
        }
        &-profile {
          display: flex;
          flex-direction: column !important;
          align-items: flex-start !important;
        }
        &-line {
          margin-top: 0px !important;
        }
        &-title {
          font-size: 20px !important;
          &-name {
            font-size: 20px !important;
            &-small {
              font-size: 16px !important;
            }
          }
        }
        &-btn-save {
          font-size: 16px  !important;
          height: 40px  !important;
        }
        &-btn-cancel {
          font-size: 16px !important;
          height: 40px !important;
        }
      }
    }
    &-btn {
      justify-content: center !important;
    }
  }

  p {
    font-size: 16px !important;
  }

  .profile-block-content-data-item-oval {
    height: 30px !important;
    border-radius: 15px !important;
  }
  .profile-block-content-data-profile-column-i {
    margin: 0;
  }

  .profile-label {
    top: 4px !important;
    font-size: 12px !important;
    padding: 0px 2px !important;
  }

  .progress-bar {
    border-radius: 18px !important;
    height: 36px !important;
    padding: 0px 4px !important;
    margin-top: 10px !important;
  }

  .progress {
    height: 24px;
    border-radius: 12px;
  }

  .profile-block-content-comands-list {
    height: 20px !important;
  }
}
