.team-members {
  &-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 100%);
    max-height: 150px;
    overflow-y: auto;
    z-index: 100;
    border-radius: 15px;
  }

  &-item {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $purple2-20p;
    }
  }

  &-count {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 44px;
    border-radius: 22px;
    background: $purple2-20p;
    width: 80%;
  }
}
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
  }
  
  .arrow-up {
    border-bottom: 5px solid #333;
  }
  
  .arrow-down {
    border-top: 5px solid #333;
  }


 