
@import "./base/variables"; 
*{
  margin: 0;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "IngoStem";
} 

@font-face {
  font-family: "IngoStem";
  src: url("../fonts/IngoStem-Medium.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "IngoStem";
  src: url("../fonts/IngoStem-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "IngoStem";
  src: url("../fonts/IngoStem-Light.otf") format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "IngoStem";
  src: url("../fonts/IngoStem-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: $gradient;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 10vh;
}

.container {
  width: 100%;
  margin: 0;
}




@import "./base/buttons";
@import "./base/activity-tags";
@import "./base/activity-btn";
@import "./blocks/welcome/form";
@import "./blocks/welcome/background_text";
@import "./blocks/welcome/goal";
@import "./blocks/main/header";
@import "./blocks/main/posts";
@import "./blocks/main/main";
@import "./blocks/main/activity";
@import "./blocks/main/ratings";
@import "./blocks/main/challenges";
@import "./blocks/main/view";
@import "./blocks/profile/profile_block";
@import "./blocks/profile/profile_data";
@import "./blocks/profile/team_league";
@import "./blocks/profile/profile_account.scss";